
config.py
=======
#Ignore Mac system files
.DS_store

#Ignore
characters_updated.csv
characters_updated_g.csv
datasets_1568_2804_movie_characters_metadata.tsv
movie_lines.tsv
NationalNames.csv


.DS_store
.DS_Store
.ipynb_checkpoints
=======
__pycache__/*
