<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="/">Gender Detector</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExample03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/positivelyalli/gender-detector">Github</a>
                </li>
                <li>
                  <a class="nav-link active" href="/data_cleaning.html">Data Cleaning & Modeling</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Visualizations</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="#">Character Gender Pie Chart</a>
                    <a class="dropdown-item" href="#">Word Frequency by Gender</a>
                    <a class="dropdown-item" href="#">Lines per Gender</a>
                  </div> -->
                </li>
              </ul>
            </div>
          </nav>
      
    </header>
    <main role="main">

        <section class="jumbotron text-center p-3 p-md-5 text-white rounded bg">
          <div class="container">
            <h1 class="jumbo-text">Movie Character Gender Detection</h1>
            <p class="lead my-3">Predicting the gender of a movie character with machine learning using utterances in scripts.</p>
          </div>
        </section>
        <div class="col-md-12 blog-main">
            <!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
              Machine Learning
            </h3> -->
  
            <div class="blog-post">
              <h2 class="blog-post-title">Gender Detection & Prediction</h2>
              <p class="blog-post-meta">June 20, 2020 by <a href="#">Alli Kruger & Sowmya Srinivasan</a></p>
              <p>The purpose of this project is to see if a machine learning algorithm can predict a character's gender from the words spoken by the character in the movie script.</p>              
              <h3>Cleaning the data</h3>
              <p>The data used in this project come from the
                <a href="https://www.kaggle.com/Cornell-University/movie-dialog-corpus">Movie Dialog Corpus</a>
                dataset posted onto Kaggle by Cornell University. The tables used for this project were the movie_characters_metadata
                and movie_lines tsvs. The fields included in these tables are:
                <ol>
                  <li>movie_characters_metadata
                    <ul>
                      <li>Character ID</li>
                      <li>Character Name</li>
                      <li>Movie ID</li>
                      <li>Movie Title</li>
                      <li>Gender</li>
                      <li>Position in Credits</li>
                    </ul>
                  </li>
                  <li>movie_lines
                    <ul>
                      <li>Line ID</li>
                      <li>Character ID</li>
                      <li>Movie ID</li>
                      <li>Character Name</li>
                      <li>Text of the Utterance</li>
                    </ul>
                  </li>
                </ol>
              </p> 
              
              <p>The fields we needed for the training dataset included the Text of the Utterance from movie_lines
                and the Gender from the movie_characters_metadata. One issue we ran into early on was that approximately
                60% of the character genders were marked as unknown. Although we could have used the existing data, we felt that 
                we may be missing out on a lot of information if we skipped over all of those characters. 
              </p>
              <p>
                In order to overcome this, 
                we also downloaded the National Names csv from US Baby Names dataset on Kaggle. Using this dataset, we 
                attempted to fill in a lot of the unknown genders based on the corresponding names in the National Names 
                dataset. To do this, we performed a groupby and matched the names with the gender that had the maximum count overall
                and filled in the gender column in the movie_characters_metadata table. In addition to this, we also 
                saw that there were many extra characters with names that were a description of who they were in the movie,
                so in order to try and cover those characters we assigned gender based on specific keywords in their names 
                (e.g. 'Old Woman'). The function below is what we used to fill in gender, and it filled in approximately 66% of the 
                unfilled genders.
              </p>
              <pre><code>
                def assign_namesg(row):
                    women = female_names.name.to_list() 
                    men = male_names.name.to_list()
                    gendered_f = ['MRS', 'LADY', 'MS ', 'MISS', 'WOMAN', 'GIRL', 'CHICK', 'MADAM', 'MADAME', 'SENIORITA', 'SENORA',
                            'MISTRESS', 'FEMALE', 'MOTHER', 'MOM', 'GRANDDAUGHTER', 'NIECE', 'AUNT', 'SISTER', 'DAUGHTER',
                            'BROAD', 'DUCHESS', 'DAME', 'GENTLEWOMAN', 'QUEEN', 'CRONE', ' HAG', 'GAL', 'MAMA', 'MOMMA', 'BITCH',
                            'MISSUS', 'EMPRESS', 'BARONESS', 'NOBLEWOMAN', 'GRANNY', 'NONNA', 'NUN', 'MRS.','MS.', 'FRAU','WIFE',
                            'WIFEY', 'BRIDE']
                    gendered_m = ['MR ', 'SENOR', 'MAN', 'GUY', 'DUDE', 'MISTER', 'BOY', 'MALE', 'BROTHER', 'HUSBAND', 'GENTLEMAN',
                          'FATHER', 'DAD', 'GRANDSON', 'GRANDFATHER', 'NEPHEW', 'UNCLE', 'BARON', 'KNIGHT', 'EMPEROR', 'NOBLEMAN',
                          'DADDY', 'PAPI', 'PAPA', 'GRANDPA', 'GRAMPS', 'CHAP', 'LAD', 'GEEZER', 'BLOKE', 'SIR', 'MR.', 'HUBBY','GROOM',
                          'HERR']
                    gender = row['gender']
                    name = row['name']
                    try:
                      if row['gender'] == '?':
                          for x in men:
                              if x == row['name']:
                                  gender = 'M'
                          for x in women:
                              if x == row['name']:
                                  gender = 'F'                               
                      if row['gender'] == '?':                          
                          for x in gendered_m:
                              if x in row['name']:
                                  gender = 'M'
                          for x in gendered_f:
                              if x in row['name']:
                                  gender = 'F'
                    except:
                        print('Something went wrong.')    
                return gender
              </code></pre>
              
              
              <p>In addition to the movie_characters_metadata table, the movei_lines table also needed a bit of work. We found that in the 
                lines dataset some of the row values were put into one string separated by '\t' and fell under the lineID row. Later on we 
                found that the movie_characters_metadata table had a few rows like this as well. In order to fix this, we used the following 
                function:
              </p>
              <pre><code>
                def separate_rows(row):
                  lineId = row['lineId']
                  chId = row['chId']
                  mId = row['mId']
                  chName = row['chName']
                  dialogue = row['dialogue']
                  if '\t' in lineId:
                      lst = lineId.split('\t')
                      lineId = lst[0]
                      chId = lst[1]
                      mId = lst[2]
                      chName = lst[3]
                      dialogue = lst[4]
                      print(dialogue)
                  series = pd.Series([lineId, chId, mId, chName, dialogue])
                  return series
              </code></pre>
            </div><!-- /.blog-post -->

            <p>
              One small issue with our methods is that we assumed the gender of the names in dataset by taking the gender that had that name 
              assigned to it the most. This is obviously not a foolproof method, as a lot of names are unisex in addition to the fact that it
              is difficult to assume the gender of anyone based solely on their name.
            </p>
  
            <div class="blog-post">
              <h2 class="blog-post-title">Multinomial Naive Bayes Model</h2>
              <img src="static/images/confusion1.png" class="img-fluid" alt="Responsive image">
              <p> In order to feed dialogue and gender into any machine learning algorithm, we had to tokenize and assign numbers to any words.
                In order to tokenize the gender, we assigned Male to the integer 0 and Female to integer 1. Before converting the dialogues to 
                numbers, we removed stopwords as well as character names in order to possibly decrease noise. We used the natural language toolkit's
                TweetTokenize() function to tokenize the dialogue. To remove stopwords we used nltk's stopwords file, as well as the stopwords argument 
                in scikitlearn's CountVectorizer() function on occasion. We found no difference in accuracy between lemmatizing and stemming
                words in the dialogue, so we stuck to stemming as it seemed to make more sense for our goals. The lemmatizer used was nltk's 
                WordNetLemmatizer(), and the stemmer we used was nltk's PorterStemmer(). To vectorize the dialogue, we used scikitlearn's 
                CountVectorizer() function with max_features=1000, which converted the list of dialogue into a matrix. We did not find that 
                the increase of max_features nor the use of n-grams contributed anything to our overall accuracy.
              </p>
              <p>
                We attempted to create the model using Gaussian Naive Bayes, Multinomial Naive Bayes, and Random Forest classifiers. Among these
                classifiers, we found that with a dataset that included male, female, and non-gendered values, the Multinomial Naive Bayes algorithm
                as well as the Random Forest algorithm gave us the highest accuracy at 63%. However, we found that the Random Forest classifier 
                had assigned all values to be male, and was achieveing a high accuracy by virtue of the gender bias in the number of lines said 
                by each gender. Because of this, we chose to use the Multinomial Naive Bayes classifier, which gave the confusion matrix seen above.
                Shown below is the function used to create the model.
              </p>
              <pre><code>
                def init():
                  stemmed = pd.read_csv('data/final.csv')
                  stemmed = stemmed.fillna('')
                  
                  dialogue = stemmed.dialogue.to_list()
                  vec = CountVectorizer(max_features = 1000)
                  vecf = vec.fit(dialogue)
                  
                  vector = vecf.transform(dialogue).toarray()
                  x = vector
                  y = stemmed.iloc[:,1].values
                  x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.1, random_state = 42)
                  
                  nb = MultinomialNB()
                  nb.fit(x_train,y_train)
                  return nb, vecf
              </code></pre>
            </div><!-- /.blog-post -->
  
            <div class="blog-post">
              <h2 class="blog-post-title">Refining the Model</h2>
  
              <p>Early on, we realized that having three genders was not contributing positively to our accuracy score. Because of this,
                we decided to remove all rows with no gender and found that our accuracy with MultinomialNB went up to 69%. However,
                we also saw that when we gave any string input the model predicted it to be male. We realized that this is likely due to the 
                skew in number of lines for each male character in addition to the high number of male characters. 
              </p>
              <p>We then saw that evening out the number of lines between male and female characters by randomly selecting lines from each 
                gender, bringing down our accuracy to 55%. However the model seemed more accurate in predicting gender given a new raw input. Our final dialogue gender table had half of its rows female and the remainder was male. Because of this, this is the model we ended up going with. The final function to predict gender based on user input is given below:
              </p>
              <pre><code>
                def predict_gender(t):
                  nb, vecf = init()

                  character = pd.read_csv('data/fixed_characters.csv')
                  sw = stopwords.words('english')
                  names = character.name.str.lower().to_list()
                  sw.extend(names)
                  tknzr = TweetTokenizer()
                  text_tokens = tknzr.tokenize(t)
                  text_tokens = [split(x) for x in text_tokens]
                  tokens_without_sw = [word for word in text_tokens if not word in sw]
                  lemma = nltk.WordNetLemmatizer()
                  description = [lemma.lemmatize(word) for word in tokens_without_sw]
                  words = " ".join(description)
                  words = [words]

                  test_x = vecf.transform(words).toarray()
                  test_y = nb.predict(test_x)
                  if test_y[0] == 0:
                      gender = 'Male'
                  else:
                      gender = 'Female'
                  return gender
              </code></pre>               
            </div><!-- /.blog-post -->

          </div>
          
      </main>
      
      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>Created June 2020 for DataCamp UC Berkeley Extension using &copy; Bootstrap</p>
        
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script></body>
      </html>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="./static/js/app.js"></script>
  </body>
</html>
